header {
	z-index: 1000;
    position: relative;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.logo-img {
    display: flex;
    align-items: center;

    img {
        max-width: 50px;
    }

    span {
        font-family: 'Single Day', cursive;
        font-size: 40px;
    }
}


@media only screen and (max-width: 1024px) {
    .navbar-header {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

