@if (editRecipe){
<div class="row">
  <div class="col-xs-12">
    <app-recipe-form
      (hide)="editRecipe = false"
      [editingResipeId]="data.id"
    ></app-recipe-form>
  </div>
</div>
} @else {
<div class="row g-0 mb-2">
  <div class="col-xs-12 image-frame">
    <img
      [src]="data.imagePath"
      class="img-fluid mx-sm-auto"
      alt="{{ data.name }}"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 d-flex justify-content-between align-items-center">
    <h1>{{ data.name }}</h1>
      <div class="dropdown" appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle mb-2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngIf="data.ingredients" class="dropdown-item" role="button" (click)="addToSoppingList()">To Shopping List</li>
          <li class="dropdown-item" role="button" (click)="editRecipe = true">
            Edit Recipe
          </li>
          <li
            class="dropdown-item"
            appConfirmAlert
            role="button"
            (click)="handleDeleteRecipe(data.id)"
          >
            Delete Recipe
          </li>
        </ul>
      </div>
  </div>
</div>
@if(data.ingredients){
  <div class="row">
    <h5>Ingredients:</h5>
    <ul class="list-group list-group-flush">
      @for(ingredient of data.ingredients; track ingredient.name){
      <li class="list-group-item">
        {{ ingredient.name }}
        ({{ ingredient.amount }})
      </li>
      }
    </ul>
  </div>
  }
<div class="row mb-2">
  <div class="col-xs-12">
    {{ data.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-end">
    <span class="text-muted">{{ convertDateToText(data.createDate) }}</span>
  </div>
</div>
}
