.image-frame {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.img-fluid {
    width: 100%;
}

button.mobile-full-screen-block__close {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .mobile-full-screen-block {
        position: fixed;
        background: #f8f9fa;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 200px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 80px;
        box-sizing: border-box;
        overflow-y: auto;

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        button.mobile-full-screen-block__close {
            display: inline-block;
            position: absolute;
            right: 0.5rem;
            transform: translateY(-3rem);
        }
    }
}

