<div class="row">
  <div class="col-xs-12">
    <div class="d-flex justify-content-between align-items-center">
      <h3>
        {{ editMode ? "Editing the recipe" : "Cretion a new recipe" }}
      </h3>
    </div>
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
      <div class="mb-3">
        <label class="form-label" for="nameInput">Title</label>
        <input
          class="form-control"
          name="name"
          minlength="4"
          autocomplete="none"
          [(ngModel)]="recipeData.name"
          required
          id="nameInput"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="descriptionInput"
          >Write a little bit about the recipe</label
        >
        <textarea
          class="form-control"
          id="descriptionInput"
          autocomplete="none"
          name="description"
          minlength="4"
          ngModel
          required
          [(ngModel)]="recipeData.description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="imagePathInput"
          >Add a picture to your recipe</label
        >
        <input
          class="form-control"
          name="imagePath"
          id="imagePathInput"
          autocomplete="none"
          [disabled]="editMode"
          minlength="4"
          ngModel
          required
          [(ngModel)]="recipeData.imagePath"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="timingInput">Cooking time (min)</label>
        <input
          class="form-control"
          name="time"
          id="timingInput"
          autocomplete="none"
          type="number"
          ngModel
          required
          [(ngModel)]="recipeData.time"
        />
      </div>
      @if(!editMode){
      <div class="mb-3">
        <label>Add ingredients:</label>
        <ul class="list-group">
          @for(ingredient of ingredients; track ingredient.name){
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              {{ ingredient.name }} 
              ({{ingredient.amount}})
            </span>
            <button
              class="btn"
              type="button"
              (click)="deleteIngredient(ingredient.name)"
            >
              <span class="icon-cross"></span>
            </button>
          </li>
          }
        </ul>
        <app-shopping-edit
          (handleAddItem)="addIngredient($event)"
          hide="false"
        ></app-shopping-edit>
      </div>
      }
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!f.form.valid"
        >
          {{ editMode ? "Save" : "Add" }}
        </button>
        <button
          class="btn btn-danger ms-2"
          routerLink="/recipes"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
