<div class="row">
    <div class="col-xs-12">
        @if(isShowRecipeForm){
            <app-recipe-form (hide)="isShowRecipeForm = false"></app-recipe-form>
        }
        @else{
            <button class="btn btn-success mt-2" (click)="isShowRecipeForm = true">New Recipe</button>
        }
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
          @for(recipe of recipes$ | async; track recipe.id){
            <app-recipe-item [recipe]="recipe">
            </app-recipe-item>
          }
    </div>
</div>

