<form #f="ngForm" class="row">
  @if(btnHide){
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h4>Add an ingredient to your shopping list</h4>
    <button class="btn float-end" type="button" (click)="hide.emit()">
      <span class="icon-cross"></span>
    </button>
  </div>
  }
  <div class="col-5">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      maxlength="40"
      required
      ng-valid
      [(ngModel)]="nameInput"
      name="nameInput"
    />
  </div>
  <div class="col-3">
    <label for="amount">Amount</label>
    <input
      type="number"
      id="amount"
      autocomplete="off"
      min="1"
      class="form-control"
      required
      ng-valid
      [(ngModel)]="amountInput"
      name="amountInput"
      [ngClass]="{ 'ng-invalid': !f.form.value.amountInput } && f.submitted"
    />
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button
      class="btn btn-circle align-self-end"
      type="button"
      autocomplete="off"
      (click)="addItem(f)"
      [disabled]="!f.form.valid"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1024 1024"
        version="1.1"
      >
        <path
          d="M836 476H548V188c0-19.8-16.2-36-36-36s-36 16.2-36 36v288H188c-19.8 0-36 16.2-36 36s16.2 36 36 36h288v288c0 19.8 16.2 36 36 36s36-16.2 36-36V548h288c19.8 0 36-16.2 36-36s-16.2-36-36-36z"
        />
      </svg>
    </button>
  </div>
</form>
